body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.banner-card {
  width: 90vw; 
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 3.5vh;
  position: relative;
  height: 75vh;
  color: white;
}

.banner-img {
  height: 100%;
  width: 100%;
}

.banner-title {
  position: absolute;
  top: 5vh;
  left: 5vw;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
}

.movies-card {
  width: 18rem;
  height: 18rem;
  margin: 1rem;
  color: white;
  position: relative;
}
.movies-title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.2rem;
}
.movies-button {
  position: absolute;
  bottom: 2rem;
}
.movies-img {
  width: 100%;
  height: 100%;
}
#button-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
.favourites-genres {
  padding: 3rem;
}
.favourites-table {
  padding: 3rem;
}
.table-data {
  text-align: center;
  font-size: 1rem;
}
.movie-img-table > img{
  width: 5rem;
  margin-bottom: 0.1rem;
}
.movie-img-table {
  font-size: 0.9rem;
}

@media screen and (max-width: 500px) {
  .banner-card {
    height: 55vh;
  }
  .banner-title {
    top: 5vh;
    left: 5vw;
  }
  .movies-button {
    width: 85%;
  }
  .movies-card {
    width: 15rem;
    height: 17rem;
  }
  .movies-title {
    font-size: 1.1rem;
  }
  .movie-img-table {
    font-size: 0.7rem;
  }
  .favourites-table, .favourites-genres {
    padding: 1rem;
  }
  .movie-img-table > img{
    width: 3.5rem;
  }
}